<h1>Products</h1>
<div *ngIf="loading">
  <img src="assets/loaderImage.gif" alt="Loading..." />
</div>
<table class="table" *ngIf="!loading">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Product Name</th>
      <th>Product Description</th>
      <th>Product Price</th>
      <th>Available</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!loading && !products">
      <td colspan="7">
        No products found!</td>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product.category.name}}</td>
      <td>{{product.productName | capitalize}}</td>
      <td>{{product.productDescription}}</td>
      <td>{{product.productPrice | currency}}</td>
      <td *ngIf="product.inStock">Available</td>
      <td *ngIf="!product.inStock">Not Available</td>
      <td *ngIf="product.isActive">Visible</td>
      <td *ngIf="!product.isActive">Not Visible</td>
      <td>
        <a>Edit</a>| <a>Details</a>|
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</table>
<a [routerLink]="['/addproduct']" routerLinkActive="router-link-active">Add</a>|
<a [routerLink]="['/addproductrf']" routerLinkActive="router-link-active">Add</a>